#header{
    width: 100%;
    height: 31px;
    background: #f2f2f2;
}
#header .main{
    width: 1190px;
    height: 31px;
    margin: 0 auto;
}
#header .main a{
    text-decoration: none;
    font-size: 12px;
    color: #1e1e1e;
}
#header .main .home{
    display: inline-block;
    margin-left: 20px;
}
#header .main .home a img{
    margin-top: 6px;
}
#header .main .Sign{
    float: right;
    height: 31px;
}
#header .main .Sign .clearfix{
    clear: both;
    content: "";
    display: block;
}
#header .main .Sign ul li{
    float: left;
    /*width: 87px;*/
}
#header .main .Sign ul li .border{
    border-right: 1px solid darkgray;

}
#header .main .Sign ul .margin1 a{

    padding-right: 20px;
}
#header .main .Sign ul .margin2 a{
    padding-left: 16px;
    padding-right: 20px;
}
#header .main .Sign ul .margin3 a{
    padding-left: 15px;
    padding-right: 20px;
}
#header .main .Sign ul .margin3{
    position: relative;
    height: 32px;
}
#header .main .Sign ul .margin3 #cart{
    width: 250px;
    height: 60px;
    line-height: 60px;
    background: #f2f2f2;
    /*margin-top: 10px;*/
    /*margin-left: -120px;*/
    font-size: 12px;
    color: #999;
    text-align: center;
    border-radius: 10px;
    display: none;
    position: absolute;
    top: 31px;
    right: -40px;
}
#header .main .Sign ul .margin3:hover #cart{
    display: block;
    z-index: 51;
}
#header .main .Sign ul .margin4{
    position: relative;
    height: 32px;
}
#header .main .Sign ul .margin4 a{
    padding-left: 16px;
    padding-right: 20px;
    /*border-right: 1px solid grey;*/
}
#header .main .Sign ul .margin4 #service{
    width: 100px;
    height: 90px;
    background: #f2f2f2;
    border-radius: 6px;
    position: absolute;
    top: 31px;
    display: none;
}
#header .main .Sign ul .margin4:hover #service{
    display: block;
}
#header .main .Sign ul .margin4 #service div{
    height: 30px;
    text-align: center;
    line-height: 30px;
}
#header .main .Sign ul .margin4 #service div:hover{
    background: rgba(169, 161, 159, 0.24);
}
#header .main .Sign ul .margin4 #service a{
    font-size: 12px;
    color: #999;
    height: 25px;
    line-height: 0;
    margin-top: 20px;

}
#header .main .Sign ul .margin5{
    position: relative;
    height: 32px;
}
#header .main .Sign ul .margin5:hover #Backstage{
    display: block;
}
#header .main .Sign ul .margin5 .border{
    border-left: 1px solid gray;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 0 solid grey;
}
#header .main .Sign ul .margin5 #Backstage{
    width: 100px;
    height: 120px;
    background: #f2f2f2;
    border-radius: 6px;
    position: absolute;
    top: 31px;
    display: none;
}
#header .main .Sign ul .margin5 #Backstage div{
    text-align: center;
    height: 30px;
    line-height: 30px;
}
#header .main .Sign ul .margin5 #Backstage div:hover{
    background: rgba(169, 161, 159, 0.24);
}
#header .main .Sign ul .margin5 #Backstage div a{
    font-size: 12px;
    color: darkgrey;
}
#header .main .Sign ul li img{
    margin-top: 4px;

}
#header .main .Sign ul li .point1{
    margin-top: 7px;
}
#header .main .Sign ul li .point2{
    margin-top: 10px;
}
#header .main .Sign ul li .point3{
    margin-top: 6px;
}


#header-1 .main-mgj{
    width: 1190px;
    margin: 0 auto;
}
#header-1 .main-mgj .img-1{
    width: 240px;
    height: 90px;
    float: left;
}
#header-1 .main-mgj .img-2{
    float: right;
    width: 220px;
    height: 90px;
}
#header-1 .main-mgj .search{
    height: 90px;
    width: 482px;
    margin-left: 100px;
    float: left;
}
#header-1 .main-mgj .search .search_content{
    position: relative;
    margin-top: 20px;
    width: 482px;
    z-index: 50;
}
#header-1 .main-mgj .search .search_content .search_outer_box{
    border: 1px solid #ff0077;
    width: 482px;
    height: 34px;
    border-radius: 0 6px 6px 0;
    background-color: #fff;
}
#header-1 .main-mgj .search .search_content .search_outer_box .search_inner_box .select_box {
    position: relative;
    float: left;
    width: 60px;
    text-align: center;
    cursor: pointer;
}
#header-1 .main-mgj .search .search_content .search_outer_box .search_inner_box .select_box .selected{
    height: 34px;
    line-height: 34px;
    color: #ff0077;
    font-size: 10px;

}
#header-1 .main-mgj .search .search_content .search_outer_box .search_inner_box .select_box i{
    display: block;
background: url("../img/MGJ-input-41.png") no-repeat;
    width: 8px;
    height: 4px;
    position: absolute;
    margin-top: -3px;
    top: 50%;
    right: 0;
}
/*#header-1 .main-mgj .search .search_content .search_outer_box .search_inner_box .select_box{

}*/
#header-1 .main-mgj .search .search_content .search_outer_box .search_inner_box .select_box ul{
    display: none;
    position: absolute;

    background: #ffffff;
    left: -1px;
    top: 35px;
    border: 1px solid #ddd;
    border-top: none;
    font-size: 10px;
}
#header-1 .main-mgj .search .search_content .search_outer_box .search_inner_box .select_box ul li{
    display: block;
    width: 60px;
    height: 26px;
    line-height: 26px;
}
#header-1 .main-mgj .search .search_content .search_outer_box .search_inner_box .select_box ul li a{
    color: #ff0077;
}
#header-1 .main-mgj .search .search_content .search_outer_box .search_inner_box .select_box ul li:hover{
    background-color: #fff4e8;
}
#header-1 .main-mgj .search .search_content .search_outer_box .search_inner_box .select_box:hover ul{
    display: block;
}
#header-1 .main-mgj .search .search_content .search_outer_box .search_inner_box form{
    height: 34px;
}
#header-1 .main-mgj .search .search_content .search_outer_box .search_inner_box form .search_txt{
    height: 22px;
    line-height: 22px;
    padding: 6px 0 6px 10px;
    color: #999;
    border: none;
    width: 305px;
    font-size: 10px;
}
#header-1 .main-mgj .search .search_content .search_outer_box .search_inner_box form .search_botton{
    float: right;
    height: 34px;
    line-height: 34px;
    overflow: hidden;
    width: 100px;
    background-color: #f2f2f2;
    background-image: linear-gradient(to right, #f25, #ff1581);
    border: none;
    color: #ffffff;
    font-size: 16px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    text-align: center;
}
#header-1 .main-mgj .search .search_content .search_outer_box .search_inner_box form .search_botton:hover{
    background-image: linear-gradient(to left, #f25, #ff1581);
}
#header-1 .main-mgj .search .search_content .search_outer_box .search_inner_box .search_hidden{
    display: none;
    position: absolute;
    right: 98px;
    background-color: #fff;
    font-size: 10px;
    z-index: 999;
    color: #666;
    border: 1px solid #f07;
}
#header-1 .main-mgj .search .search_content .search_outer_box .search_inner_box .search_hidden .search_hidden_inner .search_hidden_title{
    padding: 10px;
}
#header-1 .main-mgj .search .search_content .search_outer_box .search_inner_box .search_hidden .search_hidden_inner .search_hidden_title .del_all{
    text-decoration: underline;
    float: right;
    cursor: pointer;
}
#header-1 .main-mgj .search .search_content .search_outer_box .search_inner_box .search_hidden .search_hidden_inner .history_item{
    width: 322px;
    padding: 7px 10px 7px 10px;
    height: 22px;
    line-height: 22px;
}
#header-1 .main-mgj .search .search_content .search_outer_box .search_inner_box .search_hidden .search_hidden_inner .history_item a{
    color: #333;
}
#header-1 .main-mgj .search .search_content .search_outer_box .search_inner_box .search_hidden .search_hidden_inner .history_item .del_logo{
    float: right;
    margin-right: 8px;
    color: #333333;
    font-weight: bold;
}
#header-1 .main-mgj .search .search_content .search_outer_box .search_inner_box .search_hidden .search_hidden_inner .history_item:hover{
    cursor: pointer;
    background-color: #fff4e8;
}
#header-1 .main-mgj .search .search_content .search_outer_box .search_bottom_list{
    padding-top: 5px;
}
#header-1 .main-mgj .search .search_content .search_outer_box .search_bottom_list a{
    font-size: 10px;
    color: #666;
    padding-right: 7px;
}
#header-1 .main-mgj .search .search_content .search_outer_box .search_bottom_list .select{
    color: #f07;
}






