#footer-my #main-f1{
    width: 1190px;
    margin: 0 auto;
}
#footer-my #main-f1 div{
    float: left;
    width: 297.5px;
    height: 100px;
    border-bottom: 2px solid red;
}
#footer-my #main-f1 div h3{
    font-size: 14px;
    color:  #666;
    height: 25px;
    line-height: 25px;
    margin-left: 40px;
    margin-bottom: 10px;
}
#footer-my #main-f1 div ul li{
    display: inline-block;
    margin-right: 50px;
}
#footer-my #main-f1 div ul li a{
    width: 80px;
    height: 20px;
    font-size: 12px;
    color: #999;
}
#footer-my #main-f1 div ul li a:hover{
    color: red;
}
#footer-my #main-f1 div ul li span{
    font-size: 12px;
    color: #999;
}
#footer-my #main-f1 .footer-ewm ul li{
    margin-right: 40px;
    position: relative;
    cursor: pointer;
}
#footer-my #main-f1 .footer-ewm ul li img{
    width: 80px;
    height: 80px;
    position: absolute;
    left: -20px;
    top: 30px;
    display: none;
}
#footer-my #main-f1 div ul li:hover img{
    display: block;
}


#contact #main-f2{
    width: 1190px;
    margin: 0 auto;
}
#contact #main-f2 .company{
    height: 25px;
    line-height: 25px;
}
#contact #main-f2 ul li{
    float: left;
    margin-right: 30px;
}
#contact #main-f2 ul li a{
    font-size: 14px;
    color: #333;
    height: 20px;
    line-height: 20px;
}
#contact #main-f2 ul li a:hover{
    color: pink;
}
#contact #main-f2 li p{
    font-size: 14px;
    color: #333;
    margin-top: 5px;
    width: 400px;
    height: 20px;
    line-height: 20px;
}
#contact #main-f2 .footer-tel div{
    display: inline-block;
    font-size: 12px;
    color: #999;
    border-right: 1px solid #999;
    padding-right: 5px;
    height: 20px;
    line-height: 20px;
}
#contact #main-f2 .footer-tel div a{
    color: #999;
}

















